# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# venv
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Outputs (istersen)
AntaresStudio/antares_3d_data/**/3d_output/
AntaresStudio/**/3d_output/
